.MuiAppBar-colorPrimary {
    background-color: #283346 !important;
    padding-top: 10px;
}

.MuiContainer-root {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    & .MuiTab-root {
        min-width: auto;
        padding: 5px 30px;
    }

}

.tabpanel {
    width: 100%;
}

.PrivateTabIndicator-colorSecondary-7 {
    background-color: #f5aa00 !important;
}

